---
layout: 'base.njk'
---
<article>
    <img src="{{ image }}" alt="{{ imageAlt }}">
    <h1>{{ title }}</h1>
    <p>by <span>{{ author }}</span> on <span>{{ date | postDateFilter }}</span></p>
    {{ content | safe }}
</article>